* {
    overflow-x: hidden;
    padding: 0px !important;
    margin: 0px !important;
  }
  .v215_3 {
    width: 375px;
    height: 812px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }

  .v215_39 {
    width: 307px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 142px;
    left: 33px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 29px;
    opacity: 1;
    text-align: left;
  }
  .v215_40 {
    width: 307px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 487px;
    left: 31px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 29px;
    opacity: 1;
    text-align: left;
  }
  .v215_41 {
    width: 307px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 429px;
    left: 31px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 29px;
    opacity: 1;
    text-align: left;
  }
  .v215_42 {
    width: 307px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 330px;
    left: 31px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 29px;
    opacity: 1;
    text-align: left;
  }
  .v215_43 {
    width: 307px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 379px;
    left: 31px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 29px;
    opacity: 1;
    text-align: left;
  }
  .v215_44 {
    width: 307px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 208px;
    left: 31px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 29px;
    opacity: 1;
    text-align: left;
  }
  .v215_45 {
    width: 307px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 271px;
    left: 31px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 29px;
    opacity: 1;
    text-align: left;
  }
  .v215_46 {
    width: 307px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 51px;
    left: 93px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 29px;
    opacity: 1;
    text-align: left;
  }
  .v215_47 {
    width: 207px;
    height: 29px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 834px;
    left: 36px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  