* {
    overflow-x: hidden;
    padding: 0px !important;
    margin: 0px !important;
  }
  .v215_3 {
    width: 375px;
    height: 812px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v215_4 {
    width: 24px;
    height: 26px;
    background: url("../images/addButton.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 150px;
    left: 333px;
    overflow: hidden;
  }
  .v215_5 {
    width: 24px;
    height: 26px;
    background: url("../images/addButton.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v215_6 {
    width: 19px;
    height: 21px;
    background: rgba(161,110,226,1);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 3px;
    border-radius: 50%;
  }
  .v215_7 {
    width: 24px;
    height: 26px;
    background: url("../images/addButton.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v215_8 {
    width: 24px;
    height: 26px;
    background: url("../images/addButton.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v215_9 {
    width: 24px;
    height: 26px;
    background: url("../images/addButton.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 212px;
    left: 333px;
    overflow: hidden;
  }
  .v215_10 {
    width: 24px;
    height: 26px;
    background: url("../images/addButton.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v215_11 {
    width: 19px;
    height: 21px;
    background: rgba(161,110,226,1);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 3px;
    border-radius: 50%;
  }
  .v215_12 {
    width: 24px;
    height: 26px;
    background: url("../images/addButton.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v215_13 {
    width: 24px;
    height: 26px;
    background: url("../images/addButton.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v215_14 {
    width: 24px;
    height: 26px;
    background: url("../images/addButton.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 276px;
    left: 333px;
    overflow: hidden;
  }
  .v215_15 {
    width: 24px;
    height: 26px;
    background: url("../images/addButton.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v215_16 {
    width: 19px;
    height: 21px;
    background: rgba(161,110,226,1);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 3px;
    border-radius: 50%;
  }
  .v215_17 {
    width: 24px;
    height: 26px;
    background: url("../images/addButton.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v215_18 {
    width: 24px;
    height: 26px;
    background: url("../images/addButton.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v215_19 {
    width: 24px;
    height: 26px;
    background: url("../images/addButton.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 508px;
    left: 333px;
    overflow: hidden;
  }
  .v215_20 {
    width: 24px;
    height: 26px;
    background: url("../images/addButton.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v215_21 {
    width: 19px;
    height: 21px;
    background: rgba(161,110,226,1);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
  }
  .v215_22 {
    width: 24px;
    height: 26px;
    background: url("../images/addButton.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v215_23 {
    width: 24px;
    height: 26px;
    background: url("../images/addButton.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v215_24 {
    width: 24px;
    height: 26px;
    background: url("../images/addButton.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 437px;
    left: 333px;
    overflow: hidden;
  }
  .v215_25 {
    width: 24px;
    height: 26px;
    background: url("../images/addButton.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v215_26 {
    width: 19px;
    height: 21px;
    background: rgba(161,110,226,1);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 3px;
    border-radius: 50%;
  }
  .v215_27 {
    width: 24px;
    height: 26px;
    background: url("../images/addButton.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v215_28 {
    width: 24px;
    height: 26px;
    background: url("../images/addButton.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v215_29 {
    width: 24px;
    height: 26px;
    background: url("../images/addButton.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 387px;
    left: 333px;
    overflow: hidden;
  }
  .v215_30 {
    width: 24px;
    height: 26px;
    background: url("../images/addButton.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v215_31 {
    width: 19px;
    height: 21px;
    background: rgba(161,110,226,1);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 3px;
    border-radius: 50%;
  }
  .v215_32 {
    width: 24px;
    height: 26px;
    background: url("../images/addButton.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v215_33 {
    width: 24px;
    height: 26px;
    background: url("../images/addButton.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v215_34 {
    width: 24px;
    height: 26px;
    background: url("../images/addButton.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 331px;
    left: 333px;
    overflow: hidden;
  }
  .v215_35 {
    width: 24px;
    height: 26px;
    background: url("../images/addButton.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v215_36 {
    width: 19px;
    height: 21px;
    background: rgba(161,110,226,1);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 3px;
    border-radius: 50%;
  }
  .v215_37 {
    width: 24px;
    height: 26px;
    background: url("../images/addButton.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v215_38 {
    width: 24px;
    height: 26px;
    background: url("../images/addButton.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v215_39 {
    width: 307px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 142px;
    left: 33px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 29px;
    opacity: 1;
    text-align: left;
  }
  .v215_40 {
    width: 307px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 487px;
    left: 31px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 29px;
    opacity: 1;
    text-align: left;
  }
  .v215_41 {
    width: 307px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 429px;
    left: 31px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 29px;
    opacity: 1;
    text-align: left;
  }
  .v215_42 {
    width: 307px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 330px;
    left: 31px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 29px;
    opacity: 1;
    text-align: left;
  }
  .v215_43 {
    width: 307px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 379px;
    left: 31px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 29px;
    opacity: 1;
    text-align: left;
  }
  .v215_44 {
    width: 307px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 208px;
    left: 31px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 29px;
    opacity: 1;
    text-align: left;
  }
  .v215_45 {
    width: 307px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 271px;
    left: 31px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 29px;
    opacity: 1;
    text-align: left;
  }
  .v215_46 {
    width: 307px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 51px;
    left: 93px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 29px;
    opacity: 1;
    text-align: left;
  }
  .v215_47 {
    width: 207px;
    height: 29px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 834px;
    left: 36px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v215_51 {
    width: 47px;
    height: 36px;
    background: url("../images/addButton.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 759px;
    left: 46px;
    overflow: hidden;
  }
  .v215_52 {
    width: 45px;
    height: 35px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 765px;
    left: 164px;
    border-radius: 50%;
  }
  .v215_53 {
    width: 35px;
    height: 26px;
    background: url("../images/addButton.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 769px;
    left: 168px;
    overflow: hidden;
  }
  .v215_54 {
    width: 35px;
    height: 32px;
    background: url("../images/addButton.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 763px;
    left: 280px;
    overflow: hidden;
  }